<div class="container mt-3 text-white">
<h2>Articles List</h2>
</div>
<div class="container jumbotron">
<div class="list_box">
<%= render 'article' %>
</div>
</div>
<div class="text-center mb-2">
<p><%= link_to "Create new article", new_article_path, class: "create" %></p>
</div>

