<div class="container jumbotron">
<div class="new_art_box">
<div class="text-center">
<h2>Create a New Article</h2>
</div>
<%= render "shared/errors", obj: @article %>
<%= render "form"%>
</div>
</div>