
<div class="text-center container jumbotron">
<h4>Bloggers</h4>
<div class="text-center position-absolute">

</div>
<div class="bloggers">
<div class="text-center">
</div>
<%= render "userList" %>
</div>

</div>
</div>