<div class="container jumbotron">
<div class="new_art_box">
<div class="text-center">
<h2>Sign up for Alpha Blog</h2>
</div>
<%= render "shared/errors", obj: @user %>
<%= render "form" %>
</div>
</div>
