
<div class="container jumbotron">
<div class="new_art_box">
<div class="text-center">
<%= gravatar_for @user %>
<h3><%= @user.username %>'s Articles</h3>
</div>
<%= render "articles/article" %>
</div>
</div>
