<div class="container jumbotron">
<div class="new_art_box">
<div class="text-center">
<h2><%= @user.username %>'s Profile</h2>
</div>
<div class="user_form position-absolute top-50 start-50 translate-middle">
<%= render "form" %>
</div>
</div>
 